<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moonshine.pokemongonotifications">

    <!-- To be able to create requests! -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".NotificationApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Home"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GoogleAuthActivity"
            android:label="Google Login"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".services.ScanService"
            android:exported="false" />

        <receiver
            android:name=".receivers.PokemonReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".receivers.TokenRefreshReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".services.RefreshTokenService"
            android:exported="false" />
        <service
            android:name=".services.LocationUpdateService"
            android:enabled="true"
            android:exported="false"></service>
    </application>

</manifest>